+++
title = "StartupCommunities"
linkTitle = "StartupCommunities"

+++

{{< blocks/cover title="The Startup Communities Project" image_anchor="top" height="full" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/blog" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">The startup communities project has the goal of measuring entrepreneurship communities throughout the world, creating metrics, open data, and resources for researchers, community builders, and policy makers. </p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Inspired by Brad Feld’s Startup Communities book and launching in 2022 with support from More Good Jobs author Martin Babinec and the UpMobility Foundation, Inc., this project will aim to become a research for startup communities throughout the world. By studying these communities and providing resources to policy makers and community builders, we can unlock the understanding of what it takes to create More Good Jobs in our communities.

{{% /blocks/lead %}}

{{< blocks/section color="300" >}}

{{% blocks/feature icon="fas fa-paper-plane" title="White Papers" url="/blog" %}}
Explore our research into startups and the communities around them
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="The Science of Startups" %}}
Facilitating and translating the academic work on startup communities to .
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-hands-helping" title="Collaborators Welcome" url="https://github.com/SeverinoCenter/ecosystemdata/issues" %}}
Looking for both data scientists and academic collaborators.  Open issues for enhancemnts are shown on GitHub.
{{% /blocks/feature %}}

{{< /blocks/section >}}
